.vscode
.idea
.git

*.pyc
*.pyo
*.egg-info
.pytest_cache
.coverage
htmlcov
__pycache__
.blaze_env
.DS_Store

htmlcov

tools/capture_har/node_modules
tools/capture_har/Dockerfile

tools/tree_diff/.gradle
tools/tree_diff/build
